<!DOCTYPE html>
<html lang="id">

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>{{ @categories[0]['judul'] }} | Mesti Sukses</title>

    <meta name="HandheldFriendly" content="True" />
    <meta name="description" content="{{ @categories[0]['deskripsi'] }}">
    <meta property="fb:pages" content="104391331142078" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ @base }}assets/style.css">
    <link rel="icon" href="{{ @base }}assets/favicon.jpg" type="image/jpg" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-J7C78LSP6H"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-J7C78LSP6H');
    </script>
</head>

<body class="body home-template">

    <div class="container">

        <header class="header ">

            <div class="blog-title">
                <a href="{{ @base }}" class="blog-title-logo">
                    <img src="{{ @base }}assets/Mesti Sukses.jpg" alt="Mesti Sukses" />
                </a>
            </div>
        </header>


        <div class="wrapper">

            <main class="page">

                <section class="post-list">
                    <repeat group="{{ @categories }}" key="{{ @number }}" value="{{ @category }}">
                        <article class="post-item">
                            <div class="post-item-upper">
                                <div class="post-item-category">
                                    <a href="#">{{ @category['nama'] }}</a>
                                </div>
                            </div>
                            <h1 class="post-item-title">
                                <a href="#">{{ @category['judul'] }}</a>
                            </h1>
                            <p class="post-item-excerpt">
                                <span>{{ @category['deskripsi'] }}</span>
                                <ul class="link-list" style="margin-top: 1.5rem;">
                                    <repeat group="{{ @category['posts'] }}" key="{{ @number }}" value="{{ @post }}">
                                        <li><a href="{{ @base }}post/{{ @post['file_name'] }}">{{ @post['title'] }}</a></li>
                                    </repeat>
                                </ul>
                            </p>
                        </article>
                    </repeat>
                </section>

            </main>

        </div>

        <footer class="footer">

            <section class="copyright">
                <div class="copyright-disclaimer">Copyright &copy; <a href="{{ @base }}">Mesti Sukses</a> 2020 <span class="copyright-bullet">&bull;</span> All rights reserved.</div>
            </section>

        </footer>

    </div>
</body>

</html>