<!DOCTYPE html>
<html lang="id">

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Mesti Sukses | Semua Orang Berhak Sukses</title>

    <meta property="og:title" content="Mesti Sukses" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ @base }}" />
    <meta property="og:image" content="{{ @base }}assets/Mesti-Sukses.jpg" />
    <meta property="og:description" content="Semua orang berhak untuk sukses. Web ini ditujukan bagi kalian yang mau belajar bagaimana cara dan tips untuk sukses. Apakah anda adalah orangnya? Check it out." />

    <meta name="HandheldFriendly" content="True" />
    <meta name="canonical" content="{{ @base }}">
    <meta property="fb:pages" content="104391331142078" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Semua orang berhak untuk sukses. Web ini ditujukan bagi kalian yang mau belajar bagaimana cara dan tips untuk sukses. Apakah anda adalah orangnya? Check it out.">
    <meta name="keyword" content="sukses adalah, pengusaha sukses, mesti sukses, sukses bisnis">

    <link rel="stylesheet" href="{{ @base }}assets/style.css">
    <link rel="stylesheet" href="{{ @base }}assets/idea.css">
    <link rel="icon" href="{{ @base }}assets/favicon.jpg" type="image/jpg" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-J7C78LSP6H"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-J7C78LSP6H');
    </script>

</head>

<body class="body home-template">

    <div class="container">

        <header class="header ">
            <div class="blog-title">
                <a href="{{ @base }}" class="blog-title-logo">
                    <img src="{{ @base }}assets/Mesti-Sukses.jpg" alt="Mesti Sukses" />
                </a>
            </div>
            <div class="mainmenu-list">
                <ul id="nav">
                    <li><a class="nav-home active" href="{{ @base }}">Home</a></li>
                    <li><a class="nav-home active" href="{{ @base }}idea">Life-Changing Idea</a></li>
                    <li><a class="nav-home active" href="{{ @base }}book">Book Summary</a></li>
                </ul>
            </div>
        </header>

        <div class="wrapper">

            <main class="page">
                <div class="row">
                    <h1 style="text-align: center;">Temukan Sukses Kalian Disini</h1>
                    <div class="col-xl-8 col-lg-9" itemscope itemtype="https://schema.org/Article">
                        <repeat group="{{ @labels }}" key="{{ @number }}" value="{{ @label }}">
                            <section class="archive">
                                <h2 class="archive-title" itemprop="headLine">{{ @label.nama }}</h2>
                                <div style="display: none;">
                                    <img src="{{ @base }}assets/Mesti-Sukses.jpg" alt="Mesti Sukses" itemprop="image">
                                </div>
                                <div class="archive-description">
                                    <ul class="link-list">
                                        <repeat group="{{ @label.categories }}" key="{{ @idCat }}" value="{{ @category }}">
                                            <li>
                                                <a href="{{ @base }}category/{{ @category.id_category }}" itemprop="articleBody">{{ @category.judul }}</a>
                                            </li>
                                        </repeat>
                                    </ul>
                                </div>
                            </section>
                        </repeat>
                    </div>
                    <div class="col-xl-4 col-lg-3">
                        <div class="example-1 card">
                            <div class="wrapper {{ @firstIdea.icon }}">
                                <div class="data">
                                    <div class="content">
                                        <span class="card-author">Manajemen Waktu</span>
                                        <h2 class="title">{{ @firstIdea.title }} <span>: {{ @firstIdea.modal_title }}</span></h2>
                                        <a href="#open-modal-1" id="read">Read</a>
                                        <div class="text">
                                            {{ @firstIdea.print | raw }}
                                            <a href="#open-modal-1" style="float:left">Read More</a>
                                            <a href="{{ @base }}idea" style="float:right">More Idea</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </main>

        </div>

        <footer class="footer">

            <section class="copyright">
                <h6 class="copyright-disclaimer">Copyright &copy; <a href="{{ @base }}">Mesti Sukses</a> 2020 <span class="copyright-bullet">&bull;</span> All rights reserved.</h6>
            </section>

        </footer>
        <div id="open-modal-1" class="modal-window">
            <div>
                <a href="#" title="Close" class="modal-close">Close</a>
                <h2>{{ @firstIdea.modal_title }}</h2>
                <div>
                    {{ @firstIdea.print | raw }}
                    {{ @firstIdea.detail_print | raw }}
                </div>
            </div>
        </div>

    </div>
</body>

</html>