<!DOCTYPE html>
<html lang="id">

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Mesti Sukses</title>

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ @base }}assets/style.css">
    <link rel="icon" href="{{ @base }}assets/favicon.jpg" type="image/jpg" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-S1YR0VPCSM"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-S1YR0VPCSM');
    </script>

</head>

<body class="body home-template">

    <div class="container">

        <header class="header ">

            <div class="blog-title">
                <a href="{{ @base }}" class="blog-title-logo">
                    <img src="{{ @base }}assets/Mesti Sukses.jpg" alt="Mesti Sukses" />
                </a>
            </div>
        </header>


        <div class="wrapper">

            <main class="page">
                <repeat group="{{ @labels }}" key="{{ @number }}" value="{{ @label }}">
                    <section class="archive">
                        <h1 class="archive-title">{{ @label.nama }}</h1>
                        <p class="archive-description">
                            <ul class="link-list">
                                <repeat group="{{ @label.categories }}" key="{{ @idCat }}" value="{{ @category }}">
                                    <li>
                                        <a href="{{ @base }}category/{{ @category.id_category }}">{{ @category.judul }}</a>
                                    </li>
                                </repeat>
                            </ul>
                        </p>
                    </section>
                </repeat>

            </main>

        </div>

        <footer class="footer">

            <section class="copyright">
                <div class="copyright-disclaimer">Copyright &copy; <a href="{{ @base }}">Mesti Sukses</a> 2020 <span class="copyright-bullet">&bull;</span> All rights reserved.</div>
            </section>

        </footer>

    </div>
</body>

</html>