<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>{{ @post.title }} | Mesti Sukses</title>

    <meta name="description" content="{{ @post.description }}">
    <meta name="HandheldFriendly" content="True" />
    <meta property="fb:pages" content="104391331142078" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ @base }}assets/style.css">
    <link rel="icon" href="{{ @base }}assets/favicon.jpg" type="image/jpg" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-J7C78LSP6H"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-J7C78LSP6H');
    </script>

</head>

<body class="body post-template tag-lifestyle tag-business tag-longform">

    <div class="container">


        <header class="header ">

            <div class="blog-title">
                <a href="{{ @base }}" class="blog-title-logo">
                    <img src="{{ @base }}assets/Mesti Sukses.jpg" alt="Mesti Sukses" />
                </a>
            </div>

        </header>

        <main class="page">

            <article class="post ">

                <div class="wrapper">


                    <section class="post-header">
                        <div class="post-header-category"><a href="#">Bisnis</a></div>
                        <h1 class="post-header-title">{{ @post.title }}</h1>
                    </section>


                    <div class="post-main">
                        <div class="post-contents">
                            {{ @content | raw }}
                        </div>
                    </div>

                </div>

            </article>

            <!-- <div class="post-end wrapper">

                <section class="post-nav">
                    <a href="../introduction-to-frontend-frameworks/index.html" class="post-nav-previous">
                        <div class="post-nav-inner">
                            <h4 class="post-nav-title">Prev</h4>
                        </div>
                    </a>
                </section>

            </div> -->

        </main>


        <footer class="footer">

            <section class="copyright">
                <div class="copyright-disclaimer">Copyright &copy; <a href="{{ @base }}">Mesti Sukses</a> 2020 <span class="copyright-bullet">&bull;</span> All rights reserved.</div>
            </section>

        </footer>

    </div>
</body>

</html>